<!DOCTYPE html>
<html>
<head>
  <title>inf134 app</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/radial-menu.css" />
</head>
<body>
  <div style="
    position: absolute;
    top: 50%;
    left: 50%;
  " class="donut">DONUT HERE</div>
  <% topics.forEach(topic => { %>
    <div style="
      display: inline-block;
      float: left;
      width: calc(100vw / 2);
      height: calc(100vh / 2);
      background: url(<%= topic.img %>) left top / cover no-repeat;
      "
      class="<%= topic.id %>"></div>
  <% }) %>
</body>
</html>
