html,body{
    margin: 0px;
    padding: 0px;
}

#p1{
    color: white;
    padding-top: 510px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 20px;
}
#p2{
    color: white;
    font-family: 'Quicksand', sans-serif; 
    padding-top: 460px;
    margin-left: 20px;
    width: 500px
}
#gw{
    color: palevioletred; 
}
#cc{
    color: skyblue;
}
#p3{
    color:white;
    font-family: 'Quicksand', sans-serif;
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    margin-left: 400px;
}
#p4{
    
}
#p5{
    font-family: 'Quicksand', sans-serif; 
    padding-top: 500px;
    color: white;
}
#p5 ul a{
    text-decoration: none;
    color: cadetblue;
}
#p5 ul a:hover{
    text-decoration: underline;
}
/*maybe make the heading 2 seperate elements to make the bar have opacity and eventually implement the following header bar in JS*/
/*#title{
    text-align: center;
    background: black;
    color: white;
    padding: 2px;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    opacity: 1;
}*/

header{
    position:fixed;
    text-align: center;
    background: black;
    color: white;
    height: 100px;
    width: 100%;
    top: 0;
    opacity: .7;
}

#page1{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../climate-change/img/hotsun.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page2{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../climate-change/img/ice-sheet.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page3{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../climate-change/img/city-cars-traffic-lights.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page4{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../climate-change/img/city-sky-skyline-australia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page5{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../climate-change/img/earth-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
