html,body{
    margin: 0px;
    padding: 0px;
}


/*maybe make the heading 2 seperate elements to make the bar have opacity and eventually implement the following header bar in JS*/
header{
    position:fixed;
    text-align: center;
    background: black;
    color: white;
    height: 100px;
    width: 100%;
    top: 0;
    opacity: .7;
}

.container{
    width: 100%;
    height: 100%;
    position: absolute;
    padding:0;
    margin:0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow:hidden;
}

.videoPlayer {
    min-height: 100%;
    /*min-width:100%;*/
    position:absolute;
    bottom:0;
    left:0;
}

#page1{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    /*background: url(../deforestation/img/forest-whitespace.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  
}
.text{ 
    color: aliceblue;
    font-family: 'Quicksand', sans-serif; 
    text-decoration: none;
}
a{
    text-decoration: none; 
    color: #87CEFA; 
}
a:hover{
    text-decoration: underline;
}
#p1{
    font-size: 25px;
    padding: 10px;
    margin-top: 300px;
    margin-left: 20px;
}
#p2{ 
    font-size: 16px;
    padding: 10px;
    margin-top: 370px;
    margin-left: 200px;
    margin-right: 500px; 
}
#p3{
    font-size: 20px;
    margin-top:370px;
    margin-left: 20px;

}


#page2{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../deforestation/img/tent.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page3{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../deforestation/img/deforest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page4{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../deforestation/img/slashnburn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page5{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../deforestation/img/koala.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#page6{
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background: url(../deforestation/img/forestsun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*scolling stuff. Use JS for it later*/
/*#scroll1{
    text-align: center;
    position: fixed;
    bottom: 30px;
    width: 100%;
    color: black;
}

*/

video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}




  
