html,body,section,p{
    margin: 0px;
    padding: 0px;
}


/*maybe make the heading 2 seperate elements to make the bar have opacity and eventually implement the following header bar in JS*/
header{
    position:fixed;
    text-align: center;
    background: black;
    color: white;
    height: 100px;
    width: 100%;
    top: 0;
    opacity: .7;
    z-index: 1;
}

section {
  max-width: 100vw;
}

#gohome{
    float: right;
    margin-top: -55px;
    margin-right: 20px;
}

.containervid{
    width: 100%;
    height: 100%;
    position: absolute;
    padding:0;
    margin:0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow:hidden;
}

.videoPlayer {
    min-height: 100%;
    /*min-width:100%;*/
    position:absolute;
    bottom:0;
    left:0;
}

.text{ 
    color: aliceblue;
    font-family: 'Muli',sans-serif; 
    text-decoration: none;
}
a{
    text-decoration: none; 
    color: #87CEFA; 
}
a:hover{
    text-decoration: underline;
}
/*
 * lots of shitty pixel references here
 * need to fix these
#p1{
    font-size: 25px;
    padding: 10px;
    margin-top: 300px;
    margin-left: 20px;
}
#p2{ 
    font-size: 16px;
    padding: 10px;
    margin-top: 370px;
    width: 380px;
    margin-left: 290px;
    position: absolute;
}
#p3{
    font-size: 20px;
    margin-left: 20px;
    width: 600px;
    color: black;
    font-weight: 900;

}
*/
#p4{
    
}


.page {
  width: 100vw;
    height:100vh;
    min-height:100%;
    max-height:100%;
    background-size:cover;
    background-repeat: no-repeat;
}

.page video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}

#page1 {
  /* video */
}

#page2{
    background-image: url(../deforestation/img/tent.jpg);
}

#page3{
    background-image: url(../deforestation/img/wwfDeforest.jpg);
}

#page4{
    /*Credit:http://www.ucsusa.org/sites/default/files/legacy/assets/images/gw/Sumatra-land-clearing-istock.jpg*/
    background-image: url(../deforestation/img/fireDeforestPalm.jpg);
}

#page5{
    background-image: url(../deforestation/img/koala.jpg);
}

#page6{
    background-image: url(../deforestation/img/forestsun.jpg);
}


/*scolling stuff. Use JS for it later*/
/*#scroll1{
    text-align: center;
    position: fixed;
    bottom: 30px;
    width: 100%;
    color: black;
}

*/


.arrow {
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}